* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

ul,
ol {
	list-style: none;
}

a {
	text-decoration: none;
}

body {
	font-family: 'Open Sans', serif;
	background-color: #fff;
	font-weight: 400;
	line-height: 1.5;
	font-size: 22px;
}

.container {
	max-width: 1347px;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	padding-left: 20px;
	padding-right: 20px;
}

.btn {
	border: 0;
	padding: 4px 20px;
	border-radius: 22px;
	border-style: 1px solid #000;
	background-color: transparent;
	cursor: pointer;
	font-family: 'Open Sans', serif;
	font-weight: 600;
	font-size: 18px;
	line-height: 27px;
	text-align: center;
	border: 3px solid transparent;
	white-space: nowrap;
	transition: all 0.4s ease;
}

.btn.active {
	color: #fff;
	background-color: #000;
}

.btn:hover {
	color: #fff;
	background-color: #000;
	border: 3px solid #e7760b;
}

.btn:active {
	opacity: 0.6;
}

/* Header Start */
.site-header {
	color: white;
	padding-top: 16px;
	padding-bottom: 16px;
	background-color: #000;
}

.site-header-container {
	display: flex;
	align-items: center;
}

.site-logo {
	display: flex;
	align-items: center;
	margin-right: 140px;
	transition: opacity 0.4s ease;
}

.site-logo:hover {
	opacity: 0.8;
}

.site-logo:active {
	opacity: 0.6;
}

.site-logo img {
	width: 153px;
	height: 28px;
}

.sita-nav {
	display: flex;
	margin-right: auto;
	align-items: center;
}

.sita-nav-item:not(:last-child) {
	margin-right: 30px;
}

.sita-nav-link {
	font-family: 'Open Sans', serif;
	padding-bottom: 8px;
	letter-spacing: 0%;
	line-height: 21px;
	font-weight: 600;
	font-size: 14px;
	color: #fff;
	transition: color 0.5s ease, opacity 0.5s ease, border-bottom 0.4s ease;
}

.sita-nav-link:hover {
	color: #e7760b;
	border-bottom: 2px solid #e7760b;
}

.sita-nav-link:active {
	opacity: 0.6;
}

.social {
	width: 30px;
	height: 30px;
}

.social a {
	display: flex;
	align-items: center;
	justify-content: center;
}

.main-content {
	padding-bottom: 100px;
}
/* Header End */

/* Hero Start */
.main-content {
}

.hero {
	padding-top: 40px;
	padding-bottom: 40px;
}

.hero-container {
	max-width: 944px;
	margin-left: auto;
	margin-right: auto;
	padding-left: 20px;
	padding-right: 20px;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
}

.hero-img {
	margin-bottom: 80px;
}

.hero-title {
	max-width: 654px;
	width: 100%;
	font-weight: 600;
	font-size: 40px;
	line-height: 60px;
	letter-spacing: 0%;
	margin-bottom: 50px;
}

.hero-text {
	max-width: 864px;
	width: 100%;
	font-weight: 400;
	font-size: 22px;
	line-height: 33px;
	letter-spacing: 0%;
	margin-bottom: 60px;
}

.hero-list {
	display: flex;
	margin-bottom: 40px;
	align-items: center;
	justify-content: space-between;
}

.hero-item:not(:last-child) {
	margin-right: 20px;
}

.hero-inner {
	display: flex;
	justify-content: space-between;
}

.hero-inner-item:not(:last-child) {
	margin-right: 40px;
}

.hero-inner-img {
	width: 410px;
	height: 410px;
	object-fit: cover;
	margin-bottom: 20px;
}

.hero-inner-title {
	font-size: 24px;
	font-weight: 600;
	line-height: 1.5;
	margin-bottom: 20px;
}

.hero-inner-text {
	font-size: 24px;
	line-height: 1.5;
	font-family: 400px;
	margin-bottom: 20px;
}

time {
	font-weight: 400;
	line-height: 1.4;
	font-size: 24px;
}
/* Hero End */

/* Footer Start */
.site-footer {
	padding-top: 20px;
	padding-bottom: 20px;
	background-color: #000;
}

.site-footer-container {
	display: flex;
	align-items: center;
}

.site-footer-left {
	display: flex;
	color: #fff;
	margin-right: auto;
	align-items: center;
}

.site-footer-left img {
	margin-right: 14px;
}
/* Footer End */
